<div class="container" id="publications">

  {{ .Content }}

  <div class="row">
    <div class="col-md-12" id="blog-listing-medium">

      <ol>
        {{ range $index, $element := sort .Site.Data.publicacoes "weight" }}
        <li>

          {{ if .title }}
          <h4>{{ $element.title | markdownify }}</h4>
          {{ end }}

          <ul class="fa-ul">

            {{ if .author }}
            <li><i class="fa fa-li fa-user"></i> {{ $element.author | markdownify}} </li>
            {{ end }}

            {{ if .authors }}
            <li><i class="fa fa-li fa-users"></i> {{ $element.authors | markdownify}} </li>
            {{ end }}

            {{ if .journal }}
            <li><i class="fa fa-li fa-book"></i> {{ $element.journal | markdownify }}</li>
            {{ end }}

            {{ if .year }}
            <li><i class="fa fa-li fa-calendar-o"></i> {{ $element.year }}</li>
            {{ end }}

            {{ if .url }}
            <li><i class="fa fa-li fa-external-link"></i> {{ $element.url | markdownify }}</li>
            {{ end }}

            {{ if .files }}
            <li><i class="fa fa-li fa-archive"></i> {{ $element.files | markdownify }}</li>
            {{ end }}

            {{ if .status }}
            <li><i class="fa fa-li fa-check-square"></i> {{ $element.status | markdownify }}</li>
            {{ end }}

            {{ if .description }}
            <li><i class="fa fa-li fa-align-left"></i>
              <p class="intro">{{ $element.description | markdownify }}</p>
            </li>
            {{ end }}
          </ul>

        </li>
        {{ end }}
      </ol>

    </div>
  </div>

</div>
